.header {
  text-transform: uppercase;
  text-align: center;
}

.header > h4 {
  margin-bottom: -1rem;
  color: var(--muted-color);
}

.header > h2 {
  color: var(--dark-color);
}

.cardContainer {
  display: flex;
  justify-content: center;
  gap: 2rem 1rem;
  padding: 1rem 0;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  position: relative;
  width: 400px;
  box-shadow: 3px 5px 7px 5px #e0e0e0; 
  border-radius: 5px;
  cursor: pointer;
}

.cardMedia {
  text-align: center;
}

.authorInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.authorInfo > div {
  display: flex;
  align-items: center;
}

.authorInfo > div i {
  color: var(--muted-color);
  margin-right: 3px;
}

.category {
  position: absolute;
  top: 10%;
  right: 1rem;
  background-color: var(--dark-color);
  padding: 5px;
  color: var(--white);
  border-radius: 2px;
}

.blogText > h4 {
  color: var(--muted-color);
  letter-spacing: 0.8px;
  font-weight: 500;
}

.blogText > p {
  color: var(--dark-color);
}

@media screen and (max-width: 920px){

  .tag {
    top: 5%;
  }

}
