.services {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.service {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.img {
  flex-basis: 50%;
}

.contents {
  flex-basis: 50%;
}

.header {
  text-transform: uppercase;
  color: var(--dark-color);
  letter-spacing: 1px;
}

.contents > p {
  color: #241F21;
  font-size: 1.1rem;
  font-weight: 300;
  letter-spacing: 0.8px;
}

@media screen and (max-width: 760px){

  .services {
    gap: 1rem;
  }

  .service {
    flex-direction: column;
    gap: 0.5rem;
  }

  .orderedContents {
    order: 1;
  }

}
